@font-face {
  font-family: 'American Typewriter';
  src: url('../fonts/american-typewriter-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('../fonts/american-typewriter-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Light';
  src: url('../fonts/helvetica-light-587ebe5a59211.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
:root {
  /* Colors */
  --color-background: #F7F4F1;
  --color-navbar-footer-bg: #E8E2DC;
  --color-primary-accent: #4A7551; /* Earthy green */
  --color-secondary-accent: #3B4964; /* Deep slate blue */
  --color-text-body: #222222; /* Dark charcoal */
  --color-text-headings: #3B2F2F; /* Rich dark brown */
}
* {
  box-sizing: inherit;
  color: var(--color-text-body);
}
html {
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}
body {
  height: 100%;
  background-color:var(--color-background);
  font-family:'American Typewriter';
}
nav,
footer {
  background-color: var(--color-navbar-footer-bg);
}
.bg-body-tertiary {
  background-color: var(--color-navbar-footer-bg) !important;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
h1, h2, h3, h4, h5 {
  font-family:'American Typewriter';
  color: var(--color-text-body);
  font-weight:normal;
}
.index-icon {
  font-size:larger;
}
a {
  color: var(--color-text-body);
  text-decoration:underline;
}
a:hover {
  color: var(--color-primary-accent);
}
.nav-link {
  color: var(--color-text-body)
}
.nav-link:hover{
  text-decoration: underline;
}
.icon {
  height:150px;
  width: 150px;
}
.page-link {
  background-color: var(--color-background);
  color: var(--color-text-body);
}
.page-link:hover{
  background-color: var(--color-navbar-footer-bg);
  color: var(--color-text-body);
}
.page-item.disabled .page-link {
  background-color: var(--color-navbar-footer-bg);
}
.page-item.active .page-link {
  background-color: var(--color-primary-accent);
}
.card {
  border:none;
  box-shadow: none;
  background-color: var(--color-background);
}
.card-img-top {
  border-radius: 15px;
}
.card-link-wrapper {
  text-decoration: none;
}
.no-link-style {
  text-decoration: none;
}
.read-more-link {
  color: var(--color-text-body);
  text-decoration: underline;
  transition: color 0.2s ease;
}
.card-link-wrapper:hover .read-more-link {
  color: var(--color-primary-accent);
}
.featured {
  max-width: 40vw;
}
.icon-about {
  max-width: 300px;
}
.custom-bg-opacity {
  background-color: rgba(74, 117, 81, 0.8); /* 50% opacity */
  color:var(--color-navbar-footer-bg);
  max-width: 80vw;
  min-width: 60vw;
}
.banner img {
  min-height: 500px;
  max-height: 500px;
  object-fit: cover;       /* Ensures image covers the area, cropping if needed */
  width: 100%;             /* Full width */
  display: block;          /* Removes inline spacing */
}

.btn-primary {
  background-color: var(--color-primary-accent);
  border-color: var(--color-primary-accent);
  color:var(--color-background);
}

a.btn-primary:hover {
  background-color: darken(var(--color-text-body), 10%);
  border-color: var(--color-primary-accent);
  color:var(--color-text-body);
}

a.btn-outline-secondary {
  color: var(--color-secondary-accent);
  border-color: var(--color-secondary-accent);
}

a.btn-outline-secondary:hover {
  background-color: var(--color-secondary-accent);
  color: var(--color-background);
}
.fab {
  color:var(--color-text-body);
}
.fab:hover{
  color:var(--color-background);
}