<footer class="text-center">
    <div class="container p-4">
      <section class="mb-4">
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.facebook.com/p/Dog-Law-Ireland-61566183272232/" role="button"
          ><i class="fab fa-facebook-f"></i></a>
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.instagram.com/doglawireland/" role="button"
          ><i class="fab fa-instagram"></i></a>
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.tiktok.com/@dog.law.ireland" role="button"
        ><i class="fab fa-tiktok"></i></a>
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i></a>
      </section>
      <section class="">
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Disclaimer</h5>
            <p>While we strive to provide thorough and reliable information, such information is not to be considered legal advice and for specific legal concerns, we recommend consulting with your local solicitor.</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="{% url 'home' %}">Home</a>
              </li>
              <li>
                <a class="text-body" href="{% url 'about' %}">About</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="{% url 'resources' %}">Resources</a>
              </li>
              <li>
                <a class="text-body" href="{% url 'events' %}">Fundraising</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="{% url 'contact' %}">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </footer>
<script>
    import { Input, initMDB } from "mdb-ui-kit";
    initMDB({ Input });
</script>