<footer class="text-center">
    <div class="container p-4">
      <section class="mb-4">
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i></a>
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i></a>
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-tiktok"></i></a>
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i></a>
      </section>
      <section class="mb-4 align-left">
        <p>Disclaimer<br>Please note: While we strive to provide thorough and reliable information, such information is not to be considered legal advice and for specific legal concerns, we recommend consulting with your local solicitor.</p>
      </section>
      <section class="">
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Link 1</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 2</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Link 1</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 2</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Link 1</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 2</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Link 1</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 2</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </footer>
<script>
    import { Input, initMDB } from "mdb-ui-kit";
    initMDB({ Input });
</script>