{% extends "base.html" %}
{% load static %}
{% load pagination_tags %}

{% block content %}
<h1 class="my-5">Resources</h1>
<div class="container">
  <div class="row">
    {% for r in resources %}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 my-5 px-1 d-flex justify-content-center">
      <a href="{% url 'resource_detail' r.slug %}" class="card-link-wrapper text-decoration-none">
        <div class="card" style="max-width: 18rem;">
          {% if r.image %} 
          <div class="d-flex justify-content-center">
            <img src="{{ r.image.url }}" class="card-img-top border-rounded" style="height: 350px; width:350px;">
          </div>
          {% endif %}
          <div class="card-body">
            <h4 class="card-title pt-2 no-link-style">{{ r.name }}</h4>
            <p class="card-text pt-1 no-link-style">
              {% if r.tagline %} 
                {{ r.tagline }}
              {% else %}
                {{ r.description|truncatewords:10 }}
              {% endif %}
            </p>
            <span class="read-more-link">Read more →</span>
          </div>
        </div>
      </a>
    </div>
    
    {% endfor %}
  </div>
</div>
{% endblock%}