{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row my-5">
    <div class="col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
        <h1 class="m-5">{{ resource.name }}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-5 col-sm-12">
            <div id="featuredEventCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  {% for f in resource.images.all %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ f.image.url }}" class="d-block w-100 img-fluid rounded shadow-sm" alt="Image for {{ event.name }}" style="object-fit: contain; max-height: 500px;">
                  </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#featuredEventCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#featuredEventCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 d-flex align-items-center offset-lg-1 my-4">
            <div>
                <p>{{ resource.description|safe }}</p>
                {% if resource.file %}
                <p>
                <a href="{{ resource.file.url }}" target="_blank">{% if resource.file_name %} {{resource.file_name}} {%else %} Read More Here {% endif %}</a>
                {% endif %}
            </p>
            <p>
                {% if resource.URL %}
                <a href="{{ resource.URL }}" target="_blank">{% if resource.url_name %} {{resource.url_name}} {% else %} Read More Here {% endif %}</a>
                {% endif %}
            </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}