{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="m-5">{{ resource.name }}</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-5 col-sm-12">
            <img class="img-fluid rounded" src="{{ resource.image.url }}">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 d-flex align-items-center offset-lg-1 my-4">
            <div>
                <p>{{ resource.description|safe }}</p>
                {% if resource.file %}
                <p>
                <a href="{{ resource.file.url }}" target="_blank">{% if resource.file_name %} {{resource.file_name}} {%else %} Read More Here {% endif %}</a>
                {% endif %}
            </p>
            <p>
                {% if resource.URL %}
                <a href="{{ resource.URL }}" target="_blank">{% if resource.url_name %} {{resource.url_name}} {% else %} Read More Here {% endif %}</a>
                {% endif %}
            </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}