{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <h1 class="display-5 my-5">Contact Us</h1>
    <p class="">We’d love to hear from you — just reach out via email or follow us on social media.</p>
  </div>

<!-- Contact Section -->
<div class="container my-5">
  <div class="row justify-content-center">
          <!-- Contact Info -->
          <div class="col-sm-12 col-md-2 col-lg-2 mx-1 my-2">
                <a class="btn btn-outline-secondary btn-lg rounded-circle mx-4" href="https://www.facebook.com/p/Dog-Law-Ireland-61566183272232/" target="_blank" aria-label="Facebook">
                  <i class="fab fa-facebook-f"></i>
                </a>
          </div>
          <div class="col-sm-12 col-md-2 col-lg-2 mx-1 my-2">
                <a class="btn btn-outline-secondary btn-lg rounded-circle mx-4" href="https://www.instagram.com/doglawireland/" target="_blank" aria-label="Instagram">
                  <i class="fab fa-instagram"></i>
                </a>
        </div><div class="col-sm-12 col-md-2 col-lg-2 mx-1 my-2">
                <a class="btn btn-outline-secondary btn-lg rounded-circle mx-4" href="https://www.tiktok.com/@dog.law.ireland" target="_blank" aria-label="TikTok">
                  <i class="fab fa-tiktok"></i>
                </a>
      </div><div class="col-sm-12 col-md-2 col-lg-2 mx-1 my-2">
                <a class="btn btn-outline-secondary btn-lg rounded-circle mx-4" href="https://www.linkedin.com/company/dog-law-ireland/" target="_blank" aria-label="LinkedIn">
                  <i class="fab fa-linkedin-in"></i>
                </a>
  </div>
        </div>
              <h5 class="mt-5 mb-2">Email Us</h5>
              
              <p>
                <a href="mailto:doglawireland@gmail.com" class="text-decoration-none fw-semibold"><i class="fa-solid fa-envelope me-2"></i>doglawireland@gmail.com</a><br>
                <small class="text-muted">Please note we cannot provide legal advice.</small>
              </p>
            </div>

{% endblock %}
