{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="mt-5 text-center">Contact Us</h1>
    <div class="container my-5 d-flex justify-content-center">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <img class="img-fluid" src="{% static 'imgs/group-photo.jpeg' %}">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <h5>Follow us online!</h5>
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 contact-button" href="#!" role="button"
                ><i class="fab fa-facebook-f"></i></a>
              <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 contact-button" href="#!" role="button"
                ><i class="fab fa-instagram"></i></a>
              <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 contact-button" href="#!" role="button"
              ><i class="fab fa-tiktok"></i></a>
              <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 contact-button" href="#!" role="button"
                ><i class="fab fa-linkedin-in"></i></a>
                <h5 class="mt-3">Email Us</h5>
                <p>Please feel free to email us at <a href="mailto:doglawireland@gmail.com">doglawireland@gmail.com,</a> but please do be aware that we cannot provide legal
                    advice.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}