{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="mt-5 text-center">Contact Us</h1>
    <div class="container my-5 d-flex justify-content-center">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <img src="{% static 'imgs/landing-image.png' %}" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 d-flex align-items-center">
                <div>
                    <h5 class="text-center mb-2">Follow us online:</h5>
                    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 contact-button" href="https://www.facebook.com/p/Dog-Law-Ireland-61566183272232/" role="button"
                    ><i class="fab fa-facebook-f"></i></a>
                  <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 contact-button" href="https://www.instagram.com/doglawireland/" role="button"
                    ><i class="fab fa-instagram"></i></a>
                  <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 contact-button" href="https://www.tiktok.com/@dog.law.ireland" role="button"
                  ><i class="fab fa-tiktok"></i></a>
                  <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 contact-button" href="#!" role="button"
                    ><i class="fab fa-linkedin-in"></i></a>
                    <h5 class="mt-5 mb-2 text-center">Email Us:</h5>
                    <p><a href="mailto:doglawireland@gmail.com">doglawireland@gmail.com</a>
                        <br>Please do be aware that we cannot provide legal
                        advice.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}