{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row align-items-center">
    <!-- Text column -->
    <div class="col-lg-6 col-md-6 col-sm-12 order-2 order-md-1">
      <h1 class="my-3 mb-4 text-center">Dog Law Ireland</h1>
      <p class="">Dog Law Ireland came together at a pivotal point in Ireland’s dog control landscape - shortly after
        the announcement
        of Ireland’s plan to have its first banned type of dog. It was at that time that something we’d all long been
        aware
        of was highlighted to us once again - very few people actually understand the laws relating to dogs in Ireland. 
      </p>
      <p>
        We believe that education and enforcement are key to improving lives for dogs & it is with this in
        mind that we formed Dog Law Ireland. Our journey began with a simple yet powerful idea -
        to educate people, to advocate for better laws and to push for greater enforcement.
      </p>
    </div>

    <!-- Image column -->
    <div class="col-lg-6 col-md-6 col-sm-12 order-1 order-md-2">
      <img src="{% static 'imgs/landing-image.png' %}" class="img-fluid">
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-sm-12 col-md-4 col-lg-4 z-depth-1 p-5 rounded h-100">
      <a class="index-icon" href="{% url 'about' %}">
        <div class="d-flex justify-content-center">
          <img class="icon" src="{% static 'imgs/about.svg' %}">
        </div>
        About Us
      </a>
    </div>
  <div class="col-sm-12 col-md-4 col-lg-4 z-depth-1 p-5 rounded h-100">
    <a class="index-icon" href="{% url 'events' %}">
      <div class="d-flex justify-content-center"><img class="icon" src="{% static 'imgs/fundraising.svg' %}"></div>
      Fundraising
    </a>
  </div>
<div class="col-sm-12 col-md-4 col-lg-4 z-depth-1 p-5  rounded h-100">
  <a href="{% url 'resources' %}" class="index-icon">
    <div class="d-flex justify-content-center">
      <img class='icon' src="{% static 'imgs/resources.svg' %}">
    </div>
    Resources
  </a>
</div>
</div>
</div>
{% if featured %}
<div class="container my-5 py-5">
  <div class="row align-items-center">
    <!-- Left Side: Event Info -->
    <div class="col-lg-6 col-md-6 col-sm-12 order-2 order-md-1">
      <h3 class="fw-bold">{{ featured.name }}</h3>
      {% if featured.event_date %}
      <p class="mb-1"><i class="bi bi-calendar-event me-2"></i>{{ featured.event_date }}</p>
      {% endif %}
      {% if featured.event_location %}
      <p class="mb-3"><i class="bi bi-pin-map-fill me-2"></i>{{ featured.event_location }}</p>
      {% endif %}
      <p>{{ featured.description|safe }}</p>
      <a href="{% url 'event_detail' featured.slug %}" class="btn btn-outline-secondary mt-2">Read more →</a>
      {% if featured.URL %}
      <a href="{{ featured.URL }}" target="_blank" class="btn btn-primary mt-2 ms-2">
        {% if featured.url_name %}{{ featured.url_name }}{% else %}Find out more{% endif %}
      </a>
      {% endif %}
    </div>

    <!-- Right Side: Images -->
    <div class="col-lg-6 col-md-6 col-sm-12 mt-4 mt-md-0 order-1 order-md-2 my-5">
      <div class="row row-cols-2 row-cols-md-3 g-3 justify-content-center">
        {% for f in featured.images.all %}
        <div class="col">
          <img src="{{ f.image.url }}" alt="Event image" class="img-fluid rounded shadow-sm">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}