{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row align-items-center">
      <!-- Text column -->
      <div class="col-lg-6 col-md-6 col-sm-12 order-2 order-md-1">
          <h1 class="my-3 mb-4 text-center">Dog Law Ireland</h1>
          <p class="">Dog Law Ireland came together at a pivotal point in Ireland’s dog control landscape - shortly after the announcement
            of Ireland’s plan to have its first banned type of dog. It was at that time that something we’d all long been aware
            of was highlighted to us once again - very few people actually understand the laws relating to dogs in Ireland. </p>
          <p>
              We believe that education and enforcement are key to improving life for dogs… &amp; it is with this in
              mind that we formed Dog Law Ireland. Our journey began with a simple yet powerful idea: to educate people, to
              advocate for better laws and to push for greater enforcement.
          </p>
      </div>

      <!-- Image column -->
      <div class="col-lg-6 col-md-6 col-sm-12 order-1 order-md-2">
          <img src="{% static 'imgs/landing-image.png' %}" class="img-fluid">
      </div>
  </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-around">
        <div class="col-sm-12 col-md-4 col-lg-4 z-depth-1 py-5 px-5">
            <a href="{% url 'about' %}">
                <div class="d-flex justify-content-center">
                    <img class="icon" src="{% static 'imgs/about.svg' %}"></div>
                    <div class="d-flex justify-content-center">
                        <h5>About Us</h5></div></a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 z-depth-1 py-5 px-5">
            <a href="{% url 'events' %}">
                <div class="d-flex justify-content-center">
                    <img class="icon" src="{% static 'imgs/fundraising.svg' %}"></div>
                    <div class="d-flex justify-content-center">
                        <h5>Fundraising</h5></div></a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 z-depth-1 py-5 px-5">
            <a href="{% url 'resources' %}">
                <div class="d-flex justify-content-center">
                    <img class='icon' src="{% static 'imgs/resources.svg' %}"></div>
                    <div class="d-flex justify-content-center">
                        <h5>Resources</h5></div></a>
        </div>
    </div>
</div>
{% if featured %}
<div class="container mb-5">
    <h2 class="my-5">Featured Event</h2>
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <h5 class="mb-3">{{ featured.name }}</h5>
        <p class="my-3">{{ featured.description }}</p>
      </div>
      <div class="col-md-6">
        <div id="featuredEventCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for f in featured.images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ f.image.url }}" class="d-block w-100 img-fluid rounded shadow-sm" alt="Image for {{ featured.name }}" style="object-fit: contain; max-height: 300px;">
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#featuredEventCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#featuredEventCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

{% endblock %}