{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="mt-5 text-center">About Us</h1>
    <div class="container my-5 d-flex justify-content-center">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 offset-lg-3 offset-md-3">
                <img class="img-fluid" src="{% static 'imgs/group-photo.jpeg' %}">
            </div>
        </div>
    </div>
    <div>
        <p class="text-center">In August 2024, solicitors Hannah Unger, Carrie McMeel and Demi Mullen founded Dog Law
            Ireland (or DLÍ, which is also the Irish word for “Law”).</p>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <h3 class="my-3">Our Purpose</h3>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <img src="{% static 'imgs/landing-image.png' %}" class="img-fluid">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 mt-5 d-flex align-items-center">
            <div class="text">
                <p>We cannot change what we don’t understand... so we want to make dog law accessible and easily understood
                    by everyone - the general public, animal rescues, An Garda Siochana, the Government, the veterinarian
                    community, the legal profession &amp; all those working in the canine industry. <br><br> While we are small in number, we are determined to make a change. We are also very fortunate to have
                    developed so many wonderful relationships with those who have been at the forefront of advocating for Ireland’s
                    dogs long before Dog Law Ireland became Dog Law Ireland. We also have some wonderful people volunteering their time to help us &amp; we are always open to hearing
                    from people who would like to help (in particular legal researchers!) so please do get in touch if you would like to get involved.
                </p>
            
            </div>
           
        </div>
    </div>
</div>
<div class="container my-5">
    <h3>Meet the DLI Team</h3>
    <div class="row mt-5 mb-4 d-flex justify-content-between">
        {% for p in about %}
        <div class="col-lg-4 col-md-4 col-sm-12 px-5">
            <div class="my-4 d-flex justify-content-center">
                <img class="img-fluid rounded" style="max-height: 300px;" src="{{ p.image.url }}">
            </div>
            <h4 class="mb-3 ms-4">{{ p.name }}</h4>
            <p>{{ p.bio }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container">
    <h3 class="my-5 text-center">Our Accomplishments</h3>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 mb-5">
            <img src="{{ xlreview.image.url }}" class="img-thumbnail"style="max-height: 300px;">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 mb-5 d-flex align-items-center">
            <div>
                <p class="text-center">One of our proudest accomplishments to date has been providing support to the legal team who took a judicial review
                    against the XL Bully Regulations. As a result of this challenge, the law is going to be made clearer and will ensure
                    better safeguards for owners and dogs.</p>
                    {% if xlreview.URL %}
                    <a href="{{ xlreview.URL }}" target="_blank">You can read more about the work done here</a>
                    {% endif %}
            </div>
            </div>
    </div>
    </div>
<div class="container">
    <div class="row d-flex justify-content-around">
        <div class="col-sm-12 col-md-6 col-lg-3 z-depth-1 py-5 px-5">
                <div class="d-flex justify-content-center">
                    <img class="icon-about" src="{% static 'imgs/bully.svg' %}" style="max-height: 150px;"></div>
                    <div class="d-flex justify-content-center">
                        <p>Submitted open letters to the Minister for Rural and Community Development in relation to the XL Bully
                            Regulations</p></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 z-depth-1 py-5 px-5">
                <div class="d-flex justify-content-center">
                    <img class="icon-about" src="{% static 'imgs/pledge.svg' %}" style="max-height: 150px;"></div>
                    <div class="d-flex justify-content-center">
                        <p>Prepared a “Pawsitive Pledge” for general election candidates to sign</div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 z-depth-1 py-5 px-5">
                <div class="d-flex justify-content-center">
                    <img class='icon-about' src="{% static 'imgs/save.svg' %}" style="max-height: 150px;"></div>
                    <div class="d-flex justify-content-center">
                        <p>Met with a number of dog loving politicians to discuss plans to prepare private members bills</p></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 z-depth-1 py-5 px-5">
                <div class="d-flex justify-content-center">
                    <img class='icon-about' src="{% static 'imgs/info.svg' %}" style="max-height: 150px;"></div>
                    <div class="d-flex justify-content-center">
                    <p>Submitted countless freedom of information requests, parliamentary questions; and much much more.</p></div>
        </div>
    </div>
</div>

{% endblock %}