@font-face {
  font-family: 'American Typewriter';
  src: url('../fonts/american-typewriter-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Light';
  src: url('../fonts/helvetica-light-587ebe5a59211.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
* {
  box-sizing: inherit;
  color: black;
}
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color:#F7F4F1;
}
nav {
  box-shadow: 0 4px 2px -3px gray;
  background-color: #F3EEEA;
}
footer {
  box-shadow: 0 4px 2px -3px gray inset;
  background-color: #F3EEEA;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;

}
h1, h2, h3, h4, h5 {
  font-family:'American Typewriter';
  color: black !important;
  text-transform: capitalize;
}
a {
  font-family:'American Typewriter';
  color: black !important;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
p {
  font-family: 'Helvetica';
}
.icon {
  height:150px;
  width: 150px;
}
a {
  text-decoration: none;
}

.card {
  border:none;
  box-shadow: none;
  background-color: #F7F4F1;
}
.card-img-top {
  border-radius: 15px;
}
.card-title {
  text-transform: capitalize;
}
.featured {
  max-width: 40vw;
}